<!DOCTYPE html>
<html lang="ru">
<title>Интерфейс для работы с классификатором научных статей.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/cad0558086.js" crossorigin="anonymous"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
@media only screen and (max-width: 768px){
    .h1 {
        font-size: 16px;
    }
}
@media only screen and (min-width: 800px){
    .h1 {
        font-size: 50px;
    }
}
.fa-check,.fa-desktop {font-size:200px}
.fa-github {font-size: 100px}
</style>
<body>

{% block navbar %}{% endblock %}
{% include 'header.html' %}
{% block content %}{% endblock %}
{% include 'footer.html' %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/predict_text.js') }}"></script>
</body>
</html>
