<div class="w3-container w3-center">
<div class="w3-bar w3-black w3-opacity w3-padding-64 w3-container w3-center">
    <div class="w3-bar-item">
        <a href="https://github.com/moevm/bsc_vaganov" target="_blank"><i class="fab fa-github w3-hover-opacity"></i><h1 class="w3-margin w3-xlarge">Репозиторий проекта</h1></a>
    </div>
    <div class="w3-bar-item">
        <a href="https://hub.docker.com/layers/woghan/bsc_vaganov/image/images/sha256-bb7ae1f01467a1175a1475a50d48b739dc45bfeeb22cfd9e1530f737a70968eb?context=repo" target="_blank"><i class="fab fa-docker w3-hover-opacity"></i><h1 class="w3-margin w3-xlarge">Докер-образ проекта</h1></a>
    </div>
    <div id="info" class="w3-bar-item">
        <a href="https://www.kaggle.com/nikitavaganov/kernel149e757e23" target="_blank"><i class="fab fa-kaggle w3-hover-opacity"></i><h1 class="w3-margin w3-xlarge">Kaggle notebook</h1></a>
    </div>
    <div class="w3-bar-item">
        <a href="https://www.kaggle.com/nikitavaganov/scientific-paper-russian-language" target="_blank"><i class="fas fa-database w3-hover-opacity"></i><h1 class="w3-margin w3-xlarge">Обучающая выборка</h1></a>
    </div>
    <div id="info" class="w3-bar-item">
        <i class="fas fa-envelope-square w3-hover-opacity"></i><h1 class="w3-margin w3-xlarge">nik.vag@mail.ru</h1>
    </div>
</div>
</div>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">

</footer>