  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Главная</a>
    <a href="/predict" class="w3-bar-item w3-button w3-padding-large">Классифицировать текст</a>
    <a href="/predict_pdf" class="w3-bar-item w3-button w3-padding-large">Классифицировать файл (pdf)</a>
    <a href="/data" class="w3-bar-item w3-button w3-padding-large">Обучающая выборка</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue-gray w3-center" style="padding:128px 16px">
  <h1 class="w3-margin">Интерфейс для работы с классификатором научных статей.</h1>
  <p class="w3-xlarge">Выпускная квалификационная работа Ваганова Никиты</p>
  <a href="/predict"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Начать работу</button></a>
</header>
