<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Is my paper good?</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
 <div class="w3-container">
     <div class="w3-display-middle w3-center">
         <h1>Analyze my paper</h1>
         <div class="w3-bar">
             <a href="/predict"><button class="w3-bar-item w3-button w3-black">Enter text</button></a>
             <a href="/predict_pdf"><button class="w3-bar-item w3-button w3-teal">Upload pdf</button></a>
         </div>
     </div>
 </div>
</body>
</html>