{% extends 'base.html' %}
{% block navbar %}
<div class="w3-top">
  <div class="w3-bar w3-blue-gray w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue-gray" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Главная</a>
    <a href="/predict" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Классифицировать текст</a>
    <a href="/predict_pdf" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Классифицировать файл (pdf)</a>
    <a href="/data" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Обучающая выборка</a>
  </div>
{% endblock %}
{%  block content %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Что это?</h1>
      <h5 class="w3-padding-32">Веб-интерфейс, созданный для работы с классификатором научных статей. Классификатор является частичным аналогом рецензента и позволяет получить бинарную оценку научной статьи - работа удовлетворяет требованиям к публикации или не удовлетворяет.</h5>

        <p class="w3-text-grey">Результат работы классификатора - отнесение статьи к одному из классов, описание недостатков и преимуществ вашей работы, а также советы для исправления. <br>Классификатор создан в рамках выпускной квалификационной работы на тему <b>"Разработка метода оценки качества научных статей с помощью машинного обучения"</b></p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-check w3-padding-64 w3-text-blue-gray"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-desktop w3-padding-64 w3-text-blue-gray w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Как это работает?</h1>
      <h5 class="w3-padding-32">Работа инструмента происходит в несколько этапов:</h5>
        <ul style="margin-top: -5%">
          <li>Разбор текста из pdf-файла (при необходимости)</li>
          <li>Извлечение всех слов</li>
          <li>Подсчет характеристик текста (от статистических параметров текста до соблюдения формальных требований вроде наличия определенных разделов в статье)</li>
          <li>Передача исходного текста в обученную модель классификации в виде набора параметров</li>
          <li>Обработка и отображение результата</li>
        </ul>
      <p class="w3-text-grey">Инструмент в большей части написан на Python3.8, для веб-интерфейса используется HTML, CSS, Javascript. Использованы популярные библиотеки Flask, Scikit-learn, W3, TextBlob, NLTK, PyMorphy, BeautifulSoup4.</p>
    </div>
  </div>
</div>
{% endblock %}